<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}P0lls{% endblock %}</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">P0lls</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'poll_list' %}">Polls</a></li>
                    <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                {% endif %}
                <!-- Add more navigation links here -->
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        <!-- Content of specific template goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start mt-auto py-1 fixed-bottom">
        <div class="container text-center">
            <p class="text-muted">&copy; 2024 P0lls. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
