{% extends 'base.html' %}

{% block title %}Home - P0lls{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>P0lls - Get Started!</h1>
                <h3>Let's Vote!</h3>
                <hr>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="{% url 'poll_list' %}" role="button">Get started!</a>
                {% else %}
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}?next={% url 'poll_list' %}" role="button">Get started!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}